//colours
$theme: #41c9ff;
$box-background-colour: rgba(255, 255, 255, .9);
$box-shadow-colour: rgba(0, 0, 0, .75);
$theme-text-color: #fff;
$article-text-color: #000;

// breakpoints
$large-bp: 768px;
$medium-bp: 600px;
