//colours
$theme: #0ebbff;
$theme-opacity-9: rgba($theme, 0.9);
$box-background-colour: rgba(255, 255, 255, 0.8);
$box-shadow-colour: rgba(0, 0, 0, 0.75);
$theme-text-color: #fff;
$article-text-color: #000;

// breakpoints
$large-bp: 768px;
$medium-bp: 600px;
